<div class="container-fluid">
    <div class="row">
        <div class="col-12 px-0">
            <nav class="navbar navbar-expand-md bg-light">
                <div><a class="navbar-brand" href="http://schneidero.com">Schneidero Inc</a></div>
                <ul class="navbar-nav">
                    <li><a href="" class="nav-link">Home</a></li>
                    <li><a href="" class="nav-link">Todos</a></li>
                </ul>

                <ul class="navbar-nav navbar-collapse justify-content-end">
                    <li><a href="" class="btn btn-danger nav-link">Logout</a></li>
                    <li class="ml-2"><a href="" class="btn btn-primary nav-link">Login</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>