<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 py-5 px-0 text-center bg-dark text-white">
                All Rights Reserved &copy; Schneidero Inc.
            </div>
        </div>
    </div>
</footer>