<div class="container-fluid">
    <div class="row">
        <div class="col-12 px-0">
            <form action="" class="col-7 mx-auto">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="" id="username" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="" id="password" class="form-control">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>