<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h3>My Todos</h3>
        </div>
        <div class="col-12">

            <table class="table">
                <thead>

                    <th>Description</th>
                    <th>Target Date</th>
                    <th>Completed ?</th>
                </thead>
                <tbody>
                    <tr *ngFor="let todo of todos"></tr>
                    <td>{{todo.description}}</td>
                    <td>{{todo.targetDate | date}}</td>
                    <td>{{todo.done}}</td>
                </tbody>

            </table>
        </div>
    </div>
</div>